fastapi
uvicorn
python-dotenv
pydantic
requests
langchain
langchain-community
langchain-groq
pypdf
passlib[bcrypt]
PyJWT
gunicorn
httpx
idna
idna
jsonpatch
jsonpointer
langsmith
motor
multidict
numpy
orjson
packaging
propcache
pydantic-core
pymongo
python-multipart
PyYAML
requests-toolbelt
sniffio
sqlalchemy
starlette
tenacity
typing-extensions
urllib3
watchfiles
websockets
yarl
