fastapi
uvicorn
python-dotenv
pydantic
requests
langchain
langchain-groq
pypdf
passlib[bcrypt]
PyJWT
gunicorn
httpx
idna
jsonpatch
jsonpointer
langchain-core
langchain-text-splitters
langsmith
motor
multidict
numpy
orjson
packaging
propcache
pydantic-core
pymongo
python-multipart
PyYAML
requests-toolbelt
sniffio
sqlalchemy
starlette
tenacity
typing-extensions
urllib3
watchfiles
websockets
yarl
